[Desktop Entry]
Type=Application
Name=Shitty
Comment=Native Wayland terminal with Vulkan rendering
Exec=st
Terminal=false
Icon=shitty
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
